p, h1, h2, h3, a {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 300;
    font-size: calc(30% + 1vw);
}

h2 {
    font-weight: 400;
    font-size: calc(50% + 1vw);
}

h1, h2, h3, #title {
    text-align: center;
}

#scroll-down-arrow, #scroll-up-arrow {
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
}

#scroll-down-arrow {
    position: absolute;
    top: 80%;
    font-size:calc(50% + 3vw);
}

#scroll-up-arrow {
    display: none;
    position: fixed;
    top: 90%;
    font-size:calc(50% + 3vw);
    opacity: 70%;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 20px 0 black;
    transition: top 0.5s;
    padding: 20px;
    z-index: 1;
}

.navbar__Items {
    display:flex;
}

.navbar__Link {
    padding-right: 40px;
    color: white;
}


.navbar__Link a{
    text-decoration: none;
}

#hamburger-icon {
    font-size: 25px;
}

.navbar__Link-toggle {
    display: none;
}

.navAnchor h2 {
    padding-top: 
    80px; 
    margin-top: -80px;
}

.section {
    margin: auto;
    width: 90%;
    margin-top: 300px;
    padding: 15px;
    background-color: rgb(2, 1, 1);
}

#gradesSection {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.grade {
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 white;
    flex-grow: 1;
}

body {
    background-color: rgb(2, 1, 1);
    padding: 0;
    margin: 0;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    height: 100vh;
    min-width: 100%;
    margin: 0;
    /* Background gradient animation */
    background: linear-gradient(270deg, #4bcf93 , #4b79cf, #a24bcf );
    background-size: 300% 300%;
    background-attachment: fixed;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

#title h1 {
    display: flex;
    justify-content: center;

    font-weight: 400;
    font-size:calc(100% + 5vw);
    padding-top: 10vh;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

.section {
    display: block;
    position: relative;
    top: -60px;
}

.title-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon{
    color: white;
    font-size:calc(50% + 3vw);
    margin: 10px;
    text-decoration: none;
}

.icon p{
    line-height: 0; 
    font-size: 0;
    color: transparent; 
}

.button {
    background-color: rgb(2, 1, 1);
    border: 2px solid rgb(2, 1, 1);
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer_icon{
    color: white;
    font-size:3rem;
    margin: 10px;
    text-decoration: none;
}

footer {
    display: flex;
    height: 200px;
    margin-top: 300px;
    flex: 1;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 12px;
    }

    .navbar, .navbar__Items {
        flex-direction: column;
    }
        
    .navbar__Items {
        display:none;
    }
        
    .navbar__ToggleShow {
        display: flex;
        height: 100vh;
        padding-top: 10vh;
    }

    .navbar__ToggleShow .navbar__Link{
        align-self: flex-start;
        font-size:calc(100% + 3vw);
        margin-bottom: 7vh;
    }

    .navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        cursor: pointer;
    } 

    .section {
        width: 90vw;
        margin-top: 40px
    }

    #title {
        font-size:calc(10% + 4vw);
        padding-top: 0px;
        margin-bottom: 100px;
    }

    p {
        font-size: calc(30% + 2vw);
    }

    h2 {
        font-size: calc(50% + 2vw);
    }

    .icon{
        font-size:calc(50% + 5vw);
    }
}

/* Title background animation */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}